html,body,div,span,h1,p{margin:0;padding:0;}

html {
    
    background: #555;
    font: normal 14px/24px futura, futura, futura, futura;
    color: #993;
 

}

strong { font-weight: normal; }
a { text-decoration: none; }

html, body { height: 100%; }

#content {
    min-height: 100%;
    text-align: left;
    overflow: hidden;
}

#content-inner {
    padding: 60px 0;
}

#piano {
    position: relative;
    margin: 0 auto;
    padding: 80px 40px 16px;
    width: 1000px;
    background: rgba(121, 0, 220, 0.76);
    border-radius: 20px;
    box-shadow: 0 1px 0 #999, 0 2px 0 #999, 0 3px 0 #999, 1px 4px 0 #999, 2px 5px 0 #999, 3px 6px 0 #999, 4px 7px 0 #999, 5px 8px 0 #999, 0 0 8px #000;
    z-index: 2;
}


/** keys */

#piano .keys {
    /*width: 1144px;*/
    width: 780px;
    padding: 2px 0 0 2px;
    overflow: hidden;
    background: #000;
    border-radius: 0 0 4px 4px;
}

.key {
    float: left;
    position: relative;
    width: 50px;
    height: 180px;
    margin: 0 2px 2px 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.key.pressed,
.key:active {
    background: #f4f3f3;
    box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}
.key.black {
    width: 0;
    margin: 0;
    z-index: 2;
}
.key.black:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -16px;
    display: block;
    width: 32px;
    height: 117px;
    background: #000;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 0 #555, 2px 2px 0 #555;
}
.key.black1:after {
    left: -20px;
}
.key.black3:after {
    left: -16px;
}
.key.black.pressed:after,
.key.black:active:after {
    background-color: #222;
}

/* **/


/** header */

h1 {
    position: absolute;
    top: 40px;
    left: 400px;
    font-size: 70px;
    line-height: 20px;
    color: #fff;
    text-shadow: -1px -1px 0 #000
}

/* **/


/** help */

.loop,
.help {
    position: absolute;
    top: 25px;
    right: 42px;
    width: 20px;
    height: 20px;
    color: transparent;
    background: rgba(255, 255, 255, .25);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .35), 1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(0, 0, 0, .35), inset 1px 1px 0 rgba(255,255,255,.4);
    border-radius: 2px;
    z-index: 10;
    font-size: 12px;
    cursor: pointer;
}

.loop.active,
.loop:active,
.help:active {
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .35); 
}

.loop {
    right: 82px;
}

.help .help-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;

    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}

.help.show .help-inner {
    top: 55px;
    padding: 20px;
    width: 740px;
    height: 142px;
    line-height: 24px;
    color: #eee;
    background: rgba(0, 0, 0, .85);
    border-radius: 4px;
    cursor: default;
}

.help.show:focus { outline: none; }

.opts { margin: 0; overflow: hidden; zoom: 1; width: 740px; height: 36px; line-height: 36px; }
.opts p { float: left; margin: 0 10px 0 0; }
.opts p:first-child { width: 6em; }
.opts p .selected { color: #999; font-style: italic; }

.toggle { cursor: pointer; }

.help a {
    display: inline-block;
    padding: 0 2px;
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
}

.help a:before {
    content: "_";
}
.help a:after {
    content: "_";
}

/* **/

/** below */

#below {
    position: relative;
    min-height: 100%;
    border-top: 2px solid #222;
    background: #333;
    line-height: 20px;
    color: #eee;
    text-shadow: 1px 1px 0 #000;
}

#info {
    position: absolute;
    top: -42px;
    left: 0;
    padding: 10px 20px;
    line-height: 20px;
    color: #333;
    text-shadow: none;
    cursor: pointer;
}

#top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
}

.twitter-share-button {
    position: absolute;
    bottom: 40px;
    right: 0;
}

#top:hover {
    color: red;
}

#info:hover {
    color: #eee;
    text-shadow: 1px 1px 0 #000;
    background: #333;
    border-radius: 0 10px 0 0;
}

#below-inner {
    margin: 0 auto;
    padding: 18px 0 20px;
    width: 780px;
    text-align: left;
}

#below-inner h2 {
    font-size: 16px;
    font-weight: bold;
}

#below-inner p {
    margin-bottom: 20px;
}

#below-inner a {
    color: #fff;
    font-weight: bold;
}

/* **/

.note {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    background: #f33;
    background: rgba(0,0,0,.85);
    border-radius: 10px;
    padding: 60px 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    z-index: 999;
}



li{
    list-style : none;
}

.piano {
  text-align: center;
  margin: 15px 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

.help-show:active
{
 box-shadow: 1px 1px 0 rgba(0, 0, 0, .35),
1px 0 0 rgba(0, 0, 0, .35), 
0 1px 0 rgba(0, 0, 0, .35), 
inset 1px 1px 0 rgba(255,255,255, .4); 
}

.help-show:disabled
{
 box-shadow: none;
}

@media (min-width: 800px) {
  .piano ul li .key {
    width: 56px;
    height: 140px;
  }
  .piano ul li .upper-key {
    height: 84px;
    width: 22.4px;
  }
  .piano ul li:nth-child(7n-6) .upper-key, .piano ul li:nth-child(7n-2) .upper-key {
    left: 43.68px;
  }
  .piano ul li:nth-child(7n-5) .upper-key {
    left: 47.04px;
  }
  .piano ul li:nth-child(7n-4) .upper-key, .piano ul li:nth-child(7n-1) .upper-key {
    left: 50.4px;
  }
  .piano ul li:nth-child(7n - 3) .upper-key, .piano ul li:nth-child(7n) .upper-key {
    display: none;
  }
}
@media (max-width: 800px) {
  .piano ul li .key {
    width: 28px;
    height: 70px;
  }
  .piano ul li .upper-key {
    height: 42px;
    width: 11.2px;
  }
  .piano ul li:nth-child(7n-6) .upper-key, .piano ul li:nth-child(7n-2) .upper-key {
    left: 21.84px;
  }
  .piano ul li:nth-child(7n-5) .upper-key {
    left: 23.52px;
  }
  .piano ul li:nth-child(7n-4) .upper-key, .piano ul li:nth-child(7n-1) .upper-key {
    left: 25.2px;
  }
  .piano ul li:nth-child(7n - 3) .upper-key, .piano ul li:nth-child(7n) .upper-key {
    display: none;
  }
}
@media (max-width: 500px) {
  .piano ul li .key {
    width: 20px;
    height: 50px;
  }
  .piano ul li .upper-key {
    height: 30px;
    width: 8px;
  }
  .piano ul li:nth-child(7n-6) .upper-key, .piano ul li:nth-child(7n-2) .upper-key {
    left: 15.6px;
  }
  .piano ul li:nth-child(7n-5) .upper-key {
    left: 16.8px;
  }
  .piano ul li:nth-child(7n-4) .upper-key, .piano ul li:nth-child(7n-1) .upper-key {
    left: 18px;
  }
  .piano ul li:nth-child(7n - 3) .upper-key, .piano ul li:nth-child(7n) .upper-key {
    display: none;
  }
}
.piano ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.piano ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  border: #f8f1e5 1px solid;
}
.piano ul li .key {
  -moz-box-shadow: #575757 0px 3px 3px -1px;
  -webkit-box-shadow: #575757 0px 3px 3px -1px;
  box-shadow: #575757 0px 3px 3px -1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition-property: background, box-shadow;
  -o-transition-property: background, box-shadow;
  -webkit-transition-property: background, box-shadow;
  transition-property: background, box-shadow;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  background: #faf5ed;
}
.piano ul li .key:active {
  background: #f6ecdd;
  -moz-box-shadow: gray 0px 1px 3px -1px;
  -webkit-box-shadow: gray 0px 1px 3px -1px;
  box-shadow: gray 0px 1px 3px -1px;
}
.piano ul li .upper-key {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-property: background, box-shadow;
  -o-transition-property: background, box-shadow;
  -webkit-transition-property: background, box-shadow;
  transition-property: background, box-shadow;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-box-shadow: black 0px 3px 3px 0px;
  -webkit-box-shadow: black 0px 3px 3px 0px;
  box-shadow: black 0px 3px 3px 0px;
  cursor: pointer;
  background: #262626;
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
}
.piano ul li .upper-key:active {
  -moz-box-shadow: black 0px 2px 2px 0px;
  -webkit-box-shadow: black 0px 2px 2px 0px;
  box-shadow: black 0px 2px 2px 0px;
  background: #191919;
}

